.bookShelf {
  border: 10px solid burlywood;
  height: 90vh;
  width: 90vw;
  margin: 10px auto;
}

.shelfOne,
.shelfTwo,
.shelfThree {
  border-bottom: 8px solid burlywood;
  height: 155px;
  width: 90vw;
}

.book {
  border: 2px solid black;
  border-radius: 5px;
  width: 30px;
  height: 140px;
  font-size: x-small;
}

.bookTitle {
  rotate: 90deg;
  white-space: nowrap;
}

body {
  font-family: cursive;
}

h1 {
  text-align: center;
}

.btn, .submit {
    display: block;
    margin: 0 auto;
}

.addBook {
  border: 10px solid black;
  border-radius: 10px;
  background-color: gray;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addBook.active {
    display: flex;
}

.book.active {
    background-color: green;
    color: white;
}
